package main

import (
	"fmt"
)

func main() {
	var a, b string
	fmt.Scan(&a)
	fmt.Scan(&b)

	fmt.Println(a)
	fmt.Println(b)
}

func sortString(word string) string {
	chars := []string{}
	for _, c := range word {
		chars = append(chars, string(c))
	}
	sort.Strings(chars)
	return strings.Join(chars, "")
}